<nav>
    <a routerLinkActive="selected" routerLink="/browse">Browse</a>
    <a routerLinkActive="selected" routerLink="/explore">Explore</a>
    <a routerLinkActive="selected" routerLink="/my">My</a>
    <a routerLinkActive="selected" routerLink="/faverers">Favorers</a>
    <a routerLinkActive="selected" routerLink="/favorites">Favorites</a>
    <a routerLinkActive="selected" routerLink="/groups">Groups</a>
    <a routerLinkActive="selected" routerLink="/albums">Albums</a>
    <a routerLinkActive="selected" routerLink="/camera">Camera</a>
    <a routerLinkActive="selected" routerLink="/lenses">Lenses</a>
    <a routerLinkActive="selected" routerLink="/following">Following</a>
    <a routerLinkActive="selected" routerLink="/about">About</a>
</nav>
<section>
    <router-outlet></router-outlet>
</section>

