<div id="top"></div>
<div class="card search my" *ngIf="!servicePhotos.photo">
    <h1 class="search-headline">Popular</h1>
    <select [(ngModel)]="category" title="category">
        <option *ngFor="let option of categoryOptions"
                [ngValue]="option.value">{{ option.name }}</option>
    </select>
    <input class="count-input"
           [(ngModel)]="servicePhotos.perPage"
           (keyup.enter)="fetch(false)"
           placeholder="Count"
    >
    <input class="page-input"
           [(ngModel)]="servicePhotos.page"
           (keyup.enter)="fetch(false)"
           placeholder="Page"
    >
    <button class="submit-btn"
            (click)="fetch(true)"
    >Fetch</button>
</div>

<div *ngIf="servicePhotos.photos && !servicePhotos.photo">
    <photo-list
            [photos]="servicePhotos.photos"
            [my]="my"
            [waiting]="waiting"
            [offset]="offset"
            (selectPhoto)="servicePhotos.select($event)"
            (nextScrollPage)="nextScrolledPage()"
    ></photo-list>
</div>

<div *ngIf="servicePhotos.photo">
    <photo-details
            [photo]="servicePhotos.photo"
            (closeDetails)="closeDetails()"
    ></photo-details>
</div>
<div class="clear"></div>

